.chessboard {
    width: 600px;
    height: 600px;
    border-radius: 5px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.game-over-screen {
    border-radius: 5px;
    width: 300px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
}

h1 {
    color: white;
    margin: 0;
    text-align: center;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin-top: -80px;
}

button {
    width: 100px;
    height: 40px;
    color: white;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #7CB9E8;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-top: 150px;
    margin-left: 34%;
    border-radius: 5px;
}

.reset-button {
    position: absolute;
    height: 40px;
    width: 80px;
    margin-top: 630px;
    margin-left: 400px;
    background-color: #7CB9E8;
    font-weight: 500;
    font-size: large;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}